body {
    color: black;
    background: []white;
    margin: 0px;
    font-family: "Metal Mania", sans-serif;
    margin-bottom: 100px;
}
header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: burlywood;
}

.chamada{
    background: brown;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}

.categorias-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categorias-videos img{
   opacity: 1.5;
   height: 200px;
}
.categorias-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(139, 65, 4);
}
.categoria h2{
    color:rgb(199, 181, 43)
}