body {
    color: black;
    background: []white;
    margin: 0px;
    font-family: "Metal Mania";
}
header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: burlywood;
}

section{
    background: brown;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}