body {
    color: black;
    background: []white;
    margin: 0px;
    font-family: "Metal Mania";
}
header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: burlywood;
}

.chamada{
    background: brown;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 200px;
}
.categorias-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoeia{
    padding-left: 20px;
    padding-right: 20px;
}